# Ignora a pasta de build
build/*

# Ignora a pasta de build multi-thread
buildmt/*

# Ignora resultados e qualquer imagem ou pdf
*.root
*.png
*.pdf

# Ignora arquivos do vscode
.vscode/*

# Ignora checkpoints dos jupyter notebook
.ipynb_checkpoints/